# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# Secrets (nooit committen)
.env
*.pem
credentials
